<footer class="container-footer" style="margin-top: 30px;">
    <div class="container pt-3">
        <!-- <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4 container-foot-icon">
                <a href="https://web.facebook.com/?_rdc=1&_rdr" target="_blank" >
                    <div class="container-icon">
                        <img src='/assets/logo/facebook.svg'/>
                    </div>
                </a>
                <a href="https://twitter.com/" target="_blank">
                    <div class="container-icon">
                        <img src='/assets/logo/twitter.svg'/>
                    </div>
                </a>
                <a href="https://instagram.com/" target="_blank">
                    <div class="container-icon">
                        <img src='/assets/logo/instagram.svg'/>
                    </div>
                </a>
                <a href="https://youtube.com/" target="_blank">
                    <div class="container-icon">
                        <img src='/assets/logo/youtube.svg'/>
                    </div>
                </a>
            </div>
            <div class="col-md-4">

            </div>
        </div> -->
        <div class="row pt-5">
            <div class="col-md-6">
                <div class="title-footer">
                    Jurug Solo Zoo
                </div>
                <div class="mt-5">
                    <div class="row">
                         <div class="col-1">
                            <i class="bi bi-house-door-fill bg-blue"></i>
                         </div>
                         <div class="col-8 content-footer">
                            <div>
                            Jurug Solo  Zoo
                            </div>
                            <div>
                                Kentingan , Kecamatan Jebres, Kota Surakarta, Jawa Tengah 57126
                            </div>
                            <div>
                                Telepon: 0271-636279
                            </div>
                            <div>
                                Whatsapp: 082138556866
                            </div>
                            <div>
                                Email: jurugsolozoo@solozoo.id
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-1">
                            <i class="bi bi-telephone-fill bg-blue"></i>
                        </div>
                        <div class="col-8 content-footer">
                            0271-636279
                       </div>
                   </div>
                   <div class="row mt-4">
                    <div class="col-1">
                        <i class="bi bi-envelope-fill bg-blue"></i>
                    </div>
                    <div class="col-8 content-footer">
                        jurugsolozoo@solozoo.id
                   </div>
               </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="title-footer">
                    Info Link
                </div>
                <div class="content-footer mt-5">
                    <li>
                        Kementrian Lingkungan Hidup
                    </li>
                    <li>
                        BKSDA Jateng
                    </li>
                    <li>
                        Pemerintah Kota Surakarta
                    </li>
                    <li>
                        Dinas pariwisata Kota Surakarta
                    </li>
                    <li>
                        Perhimpunan Kebun Binatang Seluruh Indonesia
                    </li>
                </div>
            </div>
            <!-- <div class="col">
                <i class="bi bi-envelope-fill" style="font-size: 30px;"></i>
                <h5 class="title mt-3">Mail</h5>
                <li class="list-unstyled">
                    <a href="#!">support@globaltix.com</a>
                </li>
            </div>
            <div class="col">
                <i class="bi bi-telephone-fill" style="font-size: 30px;"></i>
                <h5 class="title mt-3">Phone</h5>
                <li class="list-unstyled">
                    <a href="#!">+6597653804</a>
                </li>
            </div>
            <div class="col">
                <i class="bi bi-geo-alt-fill" style="font-size: 30px;"></i>
                <h5 class="title mt-3">Mail</h5>
                <li class="list-unstyled">
                    <a href="#!">11 Bishan Street 21, #03-04 Singapore 573943</a>
                </li>
            </div> -->
        </div>
        <div class="row">
            <div class="col-3" style="display: flex;flex-direction: row;justify-content: space-between;">
                <a href="https://www.facebook.com/jurugsolozoo" target="_blank" >
                    <div class="container-icon">
                        <img src='/assets/logo/facebook.svg'/>
                    </div>
                </a>
                <a href="http://twitter.com/jurugsolozoo" target="_blank">
                    <div class="container-icon">
                        <img src='/assets/logo/twitter.svg'/>
                    </div>
                </a>
                <a href="https://instagram.com/jurugsolozoo" target="_blank">
                    <div class="container-icon">
                        <img src='/assets/logo/instagram.svg'/>
                    </div>
                </a>
                <a href="https://www.youtube.com/channel/UCrpPEyOcrUG-dvjQ20t2STQ" target="_blank">
                    <div class="container-icon">
                        <img src='/assets/logo/youtube.svg'/>
                    </div>
                </a>
                
            </div> 
        </div>
        <div class="row pt-4">
            <div class="col" style="font-size: 0.8rem;">
                Copyrights © 2021 GlobalTix. All rights reserved.
            </div>
        </div>
    </div>
</footer>