.container-footer {
  background-color: #181818;
  color: white;
  text-align: left;
  display: flex;
  align-items: center;
}

.list-unstyled a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.container-icon {
  cursor: pointer;
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container-foot-icon {
  display: flex;
  justify-content: space-between;
}

.title-footer {
  font-size: 20px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.content-footer {
  color: #696969;
}

.bg-blue {
  color: #0069d9;
  font-size: 25px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-sosmed {
  cursor: pointer;
  font-size: 2.4rem;
  color: white;
  margin-right: 10px;
}

.icon_ {
  color: black;
  cursor: pointer;
}

.bi-facebook {
  color: #3b5998;
}
