<header class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light" id="header-navbar" >
        <div class="container">
            <img routerLink="/" class="icon_logo" src="/assets/logo/solo-zoo.png" alt="">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='labuan-bajo'}" aria-current="page" routerLink="/">BERANDA</a>
              </li>
              <li class="nav-item" ngbDropdown>
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='profil'}" href="#" (click)="false" ngbDropdownToggle>PROFIL</a>
                <div ngbDropdownMenu>
                  <button ngbDropdownItem routerLink="/profil/sambutan-direktur">SAMBUTAN DIREKTUR</button>
                  <div class="dropdown-divider"></div>
                  <button ngbDropdownItem routerLink="/profil/visi-misi">VISI - MISI</button>
                  <div class="dropdown-divider"></div>
                  <button ngbDropdownItem  routerLink="/profil/sejarah">SEJARAH</button>
                  <div class="dropdown-divider"></div>
                  <button ngbDropdownItem>STRUKTUR ORGANISASI</button>
                </div>
              </li>
              <li class="nav-item" ngbDropdown>
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='danau-toba'}" href="#" (click)="false" ngbDropdownToggle>INFO</a>
                <div ngbDropdownMenu>
                  <button ngbDropdownItem routerLink="/berita">BERITA</button>
                  <div class="dropdown-divider"></div> 
                  <button ngbDropdownItem>SATWA</button>
                  
                </div>
              </li>
              <li class="nav-item" ngbDropdown>
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='layanan'}" href="#" (click)="false" ngbDropdownToggle>LAYANAN</a>
                <div ngbDropdownMenu>
                  <button ngbDropdownItem routerLink="/layanan/wahana-permainan">WAHANA PERMAINAN</button>
                  <div class="dropdown-divider"></div> 
                  <button ngbDropdownItem routerLink="/layanan/paket-edukasi">PAKET EDUKASI </button>
                  <div class="dropdown-divider"></div> 
                  <button ngbDropdownItem routerLink="/layanan/fasilitas-umum">FASILITAS UMUM</button>
                  
                </div>
              </li>
              <li class="nav-item"ngbDropdown>
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='borobudur'}" href="#" (click)="false" ngbDropdownToggle>GALERI</a>
                <div ngbDropdownMenu>
                  <button ngbDropdownItem routerLink="/galeri">GALERI FOTO</button>
                  <div class="dropdown-divider"></div> 
                  <button ngbDropdownItem routerLink="/video">GALERI VIDEO</button>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='solo-zoo'}" href="#">AGENDA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='solo-zoo'}" href="#">UNDUHAN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='solo-zoo'}" href="#">RESERVASI</a>
              </li>
              
            </ul>
          </div>
          <!-- <div>
            <div class="border-logo">
              <span class="badge badge-notif">{{notifCart}}</span>
            <i class="bi bi-basket2-fill icon_ btn-cart" routerLink="/cart/view"></i>
            </div>
          </div> -->
        </div>
      </nav>
</header>