<div class="container container-detail">
    <div class="row">
        <div class="col-md-12" style="display: flex;align-items: center;justify-content: center;margin-bottom: 30px;">
            <img class="image_" src="../../../assets/image/wahana-permainan.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="title">
                Wahana Permainan
            </div>
            <hr>
            <div class="content">
                <p>Ada beberapa wahana&nbsp; yang bisa dinikmati oleh pengunjung tentunya menunjang sarana rekreasi di Jurug Solo Zoo,&nbsp; ada wahana&nbsp; satwa dan wahana permainan&nbsp;</p>

                <div class="title">
                    Wahana Satwa
                </div>
                <ul>
                    <li>Gajah tunggang&nbsp;</li>
                    <li>Unta tunggang&nbsp;</li>
                    <li>Kuda tunggang&nbsp;</li>
                    <li>Interaksi satwa feeding satwa&nbsp;</li>
                    <li>foto satwa&nbsp;</li>
                </ul>
                <div class="title">
                    Wahana Permainan
                </div>
                <ul>
                    <li>Kereta kelinci&nbsp;</li>
                    <li>Bummper Car&nbsp;</li>
                    <li>Kolam Keceh</li>
                    <li>Marry Ground</li>
                    <li>Komedi putar&nbsp;</li>
                    <li>istana balon&nbsp;</li>
                    <li>pemancingan&nbsp;</li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5">
            <a href="https://widget.globaltix.com/user/auth/R006034XMN?product=info&id=33581">
                <button  type="button" class="btn btn-primary btn-lg">
                    Beli Tiket
                </button>
            </a>
            
        </div>
    </div>
    
    </div>