<div class="card" style="margin-top: 30px;">
    <a class="container-img" href="google.com">
        <div class="date-box">
            <h3>17</h3>
            <h5>Oct</h5>
        </div>
        <img class="card-img-top" src="https://images.solopos.com/2021/09/18Jurug-Solo-Zoo-Akhmad-Ludiyanto.jpg" alt="Card image cap">
        
    </a>
    
    <div class="card-body">
      <h5 class="card-title">
          <a href="http://www.solozoo.id/berita/read/fkkba-ajak-masyarakat-ikut-program-aid-for-animal-dan-berwisata-ke-kebun-binatang">FKKBA Ajak Masyarakat Ikut Program Aid For Animal dan Berwisata ke Kebun Binatang</a>
      </h5>
      <div class="row">
          <div class="col-2">
            <i class="bi bi-clock"></i>    14:21
          </div>
          <div class="col-3">
            <i class="bi bi-person"></i> admin
           </div>
      </div>
      <p class="card-text">Situasi  Pandemi    Covid-19    yang    berkepanjangan  mengakibatkan  sejumlah    kebun  binatang dan destinasi wisata…</p>
      <a href="#" class="btn btn-primary mt-5">Selengkapnya</a>
    </div>
  </div>