<div class="container container-detail">
    <div class="row">
        <div class="col-md-8">
            <app-news-card></app-news-card>
            <app-news-card></app-news-card>
            <app-news-card></app-news-card>
            <app-news-card></app-news-card>

        </div>
        <div class="col-md-4">
            <div class="card" style="margin-top: 30px;">
                <div class="title-populer">
                    BERITA TERPOPULER
                </div>
                <hr/>
                <div class="card-body">
                    <div class="card-list">
                        <div class="row" >
                            <div class="col-4">
                                <img class="card-img-top" src="https://images.solopos.com/2021/09/18Jurug-Solo-Zoo-Akhmad-Ludiyanto.jpg" alt="Card image cap">

                            </div>
                            <div class="col-8">
                                <div class="title-cardlist">
                                    <a href="/">
                                        Fasilitas Umum
                                    </a>
                                </div>
                                <div style="font-size: 12px">
                                    <span style="margin-right: 10px;">
                                      <i class="bi bi-calendar3"></i> 
                                      29 Apr 2021
                                    </span>
                                    <span style="margin-right: 10px;">
                                        <i class="bi bi-eye"></i> 
                                        1025 View
                                      </span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-list">
                        <div class="row" >
                            <div class="col-4">
                                <img class="card-img-top" src="https://images.solopos.com/2021/09/18Jurug-Solo-Zoo-Akhmad-Ludiyanto.jpg" alt="Card image cap">

                            </div>
                            <div class="col-8">
                                <div class="title-cardlist">
                                    <a href="/">
                                        Fasilitas Umum
                                    </a>
                                </div>
                                <div style="font-size: 12px">
                                    <span style="margin-right: 10px;">
                                        <i class="bi bi-calendar3"></i> 
                                        29 Apr 2021
                                      </span>
                                      <span style="margin-right: 10px;">
                                          <i class="bi bi-eye"></i> 
                                          1025 View
                                        </span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>