.container-detail{
    margin-top: 170px;
    padding-left: 20px;
}

.title-detail{
    font-size: 1.2rem;
    font-weight: 500;
    color: #272727;
}

.card-view{
    padding:20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.text-bold{
    font-weight: 500;
}

.text-total{
    font-size: 1.2rem;
}

.btn-orange{
    background-color: #FE634E;
    color: white;
}

.quantity_{
    padding-left: auto;
    padding-right: auto;
}

.input-group{
    background-color: white;

    .input-group-text{
        cursor: pointer;
        border-radius: 4px !important;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        user-select: none;
        background-color: white;
        color: #FE634E;
        border: 2px solid #FE634E;

        
        &.minus{
            margin-right: 5px;
            font-size: 1rem;

        }

        &.plus{
            border: 2px solid #FE634E;
            color: #FE634E;
            font-size: 1rem;

            margin-left: 5px;
        }
    }
}