<div class="container container-detail">
    <div class="row">
        <div class="col-md-12" style="display: flex;align-items: center;justify-content: center;margin-bottom: 30px;">
            <img class="image_" src="../../../assets/image/direktur.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="title">
                Sambutan Direktur
            </div>
    
            <div class="content">
                <p>Dengan memanjatkan puji syukur kehadirat Tuhan Yang Maha Esa website ini hadir dengan tujuan sebagai sarana komunikasi dan informasi dari Perusahaan Umum Daerah Taman Satwa Taru Jurug Surakarta (Jurug Solo Zoo)&nbsp; juga sebagai lembaga konservasi, edukasi dan rekreasi kepada pengunjung dan masyarakat pada umumnya.</p>
                <p>Perusahaan Umum Daerah Taman Satwa Taru Jurug Surakarta merupakan perusahaan milik Pemerintah Kota Surakarta yang membidangi konservasi flora dan fauna (tumbuhan dan satwa) edukasi dan rekreasi. Dengan bidang kegiatan tersebut kami senantiasa berusaha memberikan benefit kepada pengunjung / masyarakat agar rasa nyaman dan akan kembali berkunjung ke Jurug Solo Zoo.</p>
                <p>Semoga dengan diterbitkannya website ini menjadi salah satu jembatan untuk menjalin komunikasi, koordinasi dan sebagai sarana saran kritik yang membangun. Semoga Tuhan Yang Maha Esa meridhoi segala usaha dan upaya kita bersama. Amin ..</p>
                <p>Direktur PERUMDA TSTJ</p>
                <p><strong>BIMO WAHYU WIDODO DS, SP, M.Si., CPM</strong>
                </p>      

            </div>
        </div>
    </div>
    
    </div>