<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="row content-slide">
            <div class="col-6" >
            </div>
            <div class="col-6" style="display: flex;justify-content: center;flex-direction: column;">
               <div class="title-slider-content">
                   WEB JURUG SOLO ZOO
               </div>
               <div class="body-slider-content">
                   WISATA KONSERVASI EDUKASI DAN REKREASI DI JURUG SOLO ZOO
               </div>
               <div class="container-button-slider">
                <button type="button" class="btn btn-primary">Baca Selengkapnya</button>
               </div>
            </div>
        </div>
        <div class="bg-black-transparent">
        </div>
        <img src="/assets/image/slide/slide1.jpg" class="d-block  img-slide" alt="...">
    </div>
    <div class="carousel-item">
        <div class="row content-slide">
            <div class="col-6" >
            </div>
            <div class="col-6" style="display: flex;justify-content: center;flex-direction: column;">
               <div class="title-slider-content">
                   WEB JURUG SOLO ZOO
               </div>
               <div class="body-slider-content">
                   WISATA KONSERVASI EDUKASI DAN REKREASI DI JURUG SOLO ZOO
               </div>
               <div class="container-button-slider">
                <button type="button" class="btn btn-primary">Baca Selengkapnya</button>
               </div>
            </div>
        </div>
        <div class="bg-black-transparent">
        </div>
        <img src="/assets/image/slide/slide2.png" class="d-block  img-slide" alt="...">
    </div>
    <div class="carousel-item">
        <div class="row content-slide">
            <div class="col-6" >
            </div>
            <div class="col-6" style="display: flex;justify-content: center;flex-direction: column;">
               <div class="title-slider-content">
                   WEB JURUG SOLO ZOO
               </div>
               <div class="body-slider-content">
                   WISATA KONSERVASI EDUKASI DAN REKREASI DI JURUG SOLO ZOO
               </div>
               <div class="container-button-slider">
                <button type="button" class="btn btn-primary">Baca Selengkapnya</button>
               </div>
            </div>
        </div>
        <div class="bg-black-transparent">
        </div>
        <img src="/assets/image/slide/slide3.png" class="d-block  img-slide" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container mb-5 " style="margin-top: 90px;">
    <div class="row">
        <div class="col-9">
            <div class="title-profile">
                PROFIL JURUG SOLO ZOO
            </div>
            <div class="content-title-profile">
                Selamat datang di Taman Satwa Taru Jurug Surakarta ( TSTJ ). Sebuah taman yang ditopang oleh 67 jenis satwa dan 331 ekor satwa serta ditumbuhi lebih dari ribuan pohon yang membuat suasana lingkungan menjadi sejuk dan nyaman. Taman Satwa Taru Jurug berada di tepian sungai Bengawan Solo, sekitar 10 km dari Pusat Kota Surakarta, ia berada di ketinggian sekitar 92m diatas permukaan air laut. Dengan luas sekitar 13,9 ha.
            </div>
        </div>
        <div class="col-2">
            <img class="logo_" src="../../../assets/image/logo_1.jpg" alt="">
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="row justify-content-center text-title">
        Wahana Permainan
    </div>
    <div class="row container-card">
        <div class="col-md-4" *ngFor="let item of wahana;let i = index">
            <app-card 
                [to]="item.slug"
                [title]="item.title"
                [desc]="item.desc"
                [price]="'Rp. '+formatNumber(item.price)"
                [src]="item.image[0]">
            </app-card>
        </div>
    </div>
</div>
<div class="container mb-3">
    <div class="row justify-content-center text-title">
        Paket Edukasi
    </div>
    <div class="row container-card">
        <div class="col-md-4" *ngFor="let item of paket_edukasi;let i = index">
            <app-card 
                [to]="item.slug" 
                [title]="item.title"
                [desc]="item.desc"
                [price]="'Rp. '+formatNumber(item.price)"
                [src]="item.image[0]">
            </app-card>
        </div>
    </div>
</div>
<div class="container mb-2">
    <div class="row justify-content-center text-title">
        Harga Ticket
    </div>
    <div class="row container-card">
        <div class="col-md-4" *ngFor="let item of harga_ticket;let i = index">
            <app-card 
                [to]="item.slug"
                [title]="item.title"
                [desc]="item.desc"
                [price]="'Rp. '+formatNumber(item.price)"
                [src]="item.image[0]">
            </app-card>
        </div>
    </div>
</div>
<div class="container mb-2">
    <div class="row justify-content-center text-title">
        Berita Terbaru
    </div>
    <div class="row container-card">
        <div class="col-md-6">
            <app-news-card></app-news-card>

        </div>
        <div class="col-md-6">
            <app-news-card></app-news-card>

        </div>
        <div class="col-md-6">
            <app-news-card></app-news-card>

        </div>
        <div class="col-md-6">
            <app-news-card></app-news-card>

        </div>
    </div>

</div>

