.container-catalog{
    background-color: #f2f2f2;
    display: flex;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.app{
    width: 100%;
    max-width: 834px;
    min-height: 100vh;
    background-color: white;
    position: relative;
    margin: 0 auto;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px ;
}

.round-img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e8eaef;
    object-fit: contain;
}

.img{
    width: 60px;
}


.con-title{
    display: flex;
    align-items: center;
}

.title{
    font-weight: 500;
}

.section{
    display: flex;
    padding: 0 16px;
    margin: 0 0px;
    overflow-y: scroll;
    overflow-x: scroll;

}

.container-sec{
    display: flex;
    flex-direction: column;

    border: 1px solid #e0e0e0;
    background-color: white;
}

.img-card{
    width: 100%;
    border-radius: 4px 4px 0 0;
    object-fit: contain;
    height: auto;

}
.container-section{
    display: flex;
    flex-direction: row;
}

.card{
    width: 160px;
    border: 1px solid #e0e0e0;
}

.content-card{
    padding: 5px;
}

.title-card{
    height: 40px !important;
    font-size: 12px;
}

.price-card{
    font-size: 14px;
    font-weight: 600;
    color: #42454d;
}

.title-row{
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}