<div class="container container-detail">
    <div class="row">
        <div class="col-12">
            <div class="title">
                Galeri Foto
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-6 card-img">
            <img class="img-galeri" src="../../../assets/galeri/1.jpg" />
            <div class="row mt-2">
                <div class="col-6">
                    Gajah Sumatera
                </div>
                <div class="col-6" style="text-align: right;">
                    10 Desember 2019
                </div>
            </div>
        </div>
        <div class="col-6 card-img">
            <img class="img-galeri"  src="../../../assets/galeri/2.jpeg" />
            <div class="row mt-2">
                <div class="col-6">
                    Taman Pelangi
                </div>
                <div class="col-6" style="text-align: right;">
                    12 Desember 2019
                </div>
            </div>
        </div>
        <div class="col-6 card-img">
            <img class="img-galeri" src="../../../assets/galeri/3.jpg" />
            <div class="row mt-2">
                <div class="col-6">
                    Angsa
                </div>
                <div class="col-6" style="text-align: right;">
                    16 Desember 2019
                </div>
            </div>
        </div>
        <div class="col-6 card-img">
            <img class="img-galeri" src="../../../assets/galeri/4.jpg" />
            <div class="row mt-2">
                <div class="col-6">
                    Gajah Sumatera
                </div>
                <div class="col-6" style="text-align: right;">
                    10 Desember 2019
                </div>
            </div>
        </div>
    </div>
    
</div>