.container-detail {
  margin-top: 170px;
  padding-left: 20px;
}

.image_ {
  width: 500px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  color: black;
}

.content {
  margin-top: 20px;
  p {
    line-height: 28px;
    text-align: justify;
    font-size: 18px;
    color: #696969;
  }
}
