<div class="container container-detail">
<div class="row">
    <div class="col-md-12" style="display: flex;align-items: center;justify-content: center;">
        <img class="image_" src="../../../assets/image/logo_1.jpg" alt="">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="title">
            Sejarah
        </div>

        <div class="content">
            <p>Selamat datang di Taman Satwa Taru Jurug Surakarta ( TSTJ ). Sebuah taman yang ditopang oleh 67 jenis satwa dan 331 ekor satwa serta ditumbuhi lebih dari ribuan pohon yang membuat suasana lingkungan menjadi sejuk dan nyaman. Taman Satwa Taru Jurug berada di tepian sungai Bengawan Solo, sekitar 10 km dari Pusat Kota Surakarta, ia berada di ketinggian sekitar 92m diatas permukaan air laut. Dengan luas sekitar 13,9 ha.</p>
        </div>
    </div>
</div>

</div>