<div class="container container-detail">
    <div class="row">
        <div class="col-12">
            <div class="title">
                Visi - Misi 
            </div>
    
            <div class="content">
                <hr>
                <p>Visi :</p>
                <p>Terwujudnya taman wisata berbasis konservasi, pendidikan, budaya, dan rekreasi yang mempunyai kemanfaatan, daya tarik, dan nilai ekonomis tinggi</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>Misi :<br>1.Mewujudkan taman wisata berbasis konservasi flora, fauna dan lingkungan hidup<br><br>2. Menyediakan tempat rekreasi edukatif ( Education Entertainment), jasa-jasa hiburan dan Kepariwisataan.<br><br>3.Mengembangkan aspek sosial dan budaya<br><br>4. Mewujudkan sumber daya manusia yang berkualitas yang ditopang oleh penerapan tata kelola konservasi dan tata kelola perusahaan yang baik.<br><br>5. Mengembangkan kerjasama dan kemitraan dalam pengembangan usaha wisata<br><br>6. Mengembangkan pemasaran yang efektif</p>
                <p>&nbsp;</p> 
            </div>
        </div>
    </div>
    
    </div>