<div>
    <div (click)="prev()" class="btn-prev">
        <i class="bi bi-chevron-left"></i>
    </div>
    <div (click)="next()" class="btn-next">
        <i class="bi bi-chevron-right"></i>
    </div>
    <ngx-slick-carousel class="carousel" 
    #slickModal="slick-carousel" 
    [config]="slideConfig" 
    >
        <div ngxSlickItem class="col-md-4 mb-5">
            <app-destinantion-card 
                        [title]="'Tiket Masuk'" 
                        [src]="'/assets/logo/ticket.jpg'"
                        [to]="[to]">
            </app-destinantion-card>
        </div>
        <div ngxSlickItem class="col-4">
            <app-destinantion-card
                        [title]="'Aktivitas di ' + [place]" 
                        [src]="'/assets/logo/activity.jpg'"
                        [to]="[to]"></app-destinantion-card>
        </div>
        <div ngxSlickItem  class="col-4">
            <app-destinantion-card
                        [title]="'Tour & Paket'" 
                        [src]="'/assets/logo/tour.jpg'"
                        [to]="[to]"
                    ></app-destinantion-card>
        </div>
        <div ngxSlickItem  class="col-4">
            <app-destinantion-card
                        [title]="'Promo'" 
                        [src]="'/assets/logo/promo.jpg'"
                        [to]="[to]"></app-destinantion-card>
        </div>
        <div ngxSlickItem  class="col-4">
            <app-destinantion-card
                        [title]="'Membership'" 
                        [src]="'/assets/logo/membership.jpg'"
                        [to]="[to]"></app-destinantion-card>
        </div>
        
        

    </ngx-slick-carousel>

</div>
